@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>To view or create trips please login</p>
    <img src="~/gifs/login-meme.gif" alt="" class="mx-auto">
</div>
